<p class="hello">Hello {{ user.email }},</p>
<p class="email-btn" >Click the button to reset your password:</p>
<p class="reset-link">
  <a href="{{ url_for('auth.reset_password', token=token, _external=True) }}"
     style="display:inline-block;padding:.5rem 1rem;
            background-color:var(--color-primary);
            color:#fff;text-decoration:none;
            border-radius:var(--radius);">
    Reset Password
  </a>
</p>
<p class="ignore">If you didn’t request this, ignore this email. Expires in 10 minutes.</p>
<p class="s-team">— Elcorp Namibia Team</p>